[user]
	name = Rajiv Harlalka
	email = rajivharlalka009@gmail.com
	signingkey = D26E12876390933CAD0D198966AEB8D65FA8DE1A
[commit]
	gpgsign = true
  verbose = true
[github]
	user = rajivharlalka

[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
  # Thanks r00k, this creates a pretty graph view of the log
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	mine = log -n 5 --author=$(whoami)

[pager]
  diff = delta
  show = delta
[core]
	editor = nvim
[gpg]
	program = /usr/bin/gpg
