[user]
	name = rajivharlalka
	email = rajivharlalka009@gmail.com
	signingkey = D23D0DADF8760C47
[commit]
	gpgsign = true
    	verbose = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[pager]
    diff = delta
    reflog = delta
    show = delta

[core]
	editor = nvim
