[user]
	name = rajivharlalka
	email = rajivharlalka009@gmail.com
	signingkey = D23D0DADF8760C47
[commit]
	gpgsign = true
    verbose = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
  # Thanks r00k, this creates a pretty graph view of the log
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[pager]
    diff = delta
    show = delta
[core]
	editor = nvim
